body {
  background-image: url('/images/chalkboard.jpg');
  background-size: cover;
  background-position: center;
}
* {
  color: white;
  font-family: 'Chalkduster', 'Comic Sans MS', cursive;
  text-transform: uppercase;
  box-sizing: border-box;
}


.headline {
  text-align: center;
  font-size: 3rem;
  margin-top: 5rem;
  text-shadow: 2px 2px black;
}

.subtext{
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: white;
  text-shadow: 1px 1px black;
}

.todo-input {
  display: flex;
  justify-content: center;
  margin: 1rem auto 2rem;
  max-width: 500px;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  padding: 1rem ; 
  font-size: 2rem;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  outline: none;
  font-family: 'Chalkduster', 'Comic Sans MS', cursive;
}
.input::placeholder {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}


.add-button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: white;
  font-size: 5rem;
  cursor: pointer;
  font-family: 'Chalkduster', 'Comic Sans MS', cursive;
}

.section-title {
  color: white;
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
  text-shadow: 1px 1px black;
}

.reset-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: white;
  font-size: 3rem;
  font-family: 'Chalkduster', 'Comic Sans MS', cursive;
  cursor: pointer;
}

.todo-container {
  max-width: 2000px;
  margin: 0 auto;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.2); 
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  position: relative;
}

.todo-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.2rem;
  color: white;
  font-family: 'Chalkduster', 'Comic Sans MS', cursive;
  text-shadow: 1px 1px 2px black;
}
.todo-item input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  accent-color: white; 
  cursor: pointer;
}


.todo-item.done {
  opacity: 0.6;
  text-decoration: line-through;
}

.todo-text {
  flex: 1;
  margin-left: 0.5rem;
  font-size: 2rem;
}

.delete-button {
  background: none;
  border: none;
  color: white;
  font-size: 2.5rem;
  text-shadow: 1px 1px 2px black;
  padding-left: 0.5rem;
}


.todo-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

.todo-column {
  flex: 1 1 400px;        
  max-width: 600px;
}

